@using Microsoft.AspNetCore.Identity;
@inject UserManager<AppUser> userManager

<!DOCTYPE html>


<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="~/admin/images/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/admin/css/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="~/admin/css/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/admin/css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="~/admin/css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="~/admin/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="~/admin/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/admin/css/custom.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   

</head>
<body class="dashboard dashboard_1">
    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar_blog_1">
                    <div class="sidebar-header">
                        
                    </div>
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">
                            @if (User.Identity.IsAuthenticated)
                            {
                                var appUser = await userManager.GetUserAsync(User);
                                if (appUser != null && appUser.ProfileImage != null)
                                {
                                    <li><a asp-action="Index" asp-controller="Profile"><img src="~/assets/img/@(appUser.ProfileImage)" style="width:70px; height:70px; border-radius:35px;" /></a></li>
                                }
                                else
                                {
                                    <li><img src="~/assets/img/default_profile_image.jpg" style="width:30px; height:30px" /></li>
                                }
                            <div class="user_info">
                                <h6>@(appUser.Name) @(appUser.Surname)</h6>
                                <p><span class="online_animation"></span> Online</p>
                            </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="sidebar_blog_2">
                    <h4>General</h4>
                    <ul class="list-unstyled components">
                        <li class="active">
                            <a asp-action="index" asp-controller="dashboard" class="dropdown-toggle"><i class="fas fa-home"></i>Dashboard</a>
                        </li>
                        <li >
                            <a asp-action="index" asp-controller="Home" asp-area=""  class="dropdown-toggle"><i class="fas fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="far fa-gem purple_color"></i> <span>Elements</span></a>
                            <ul class="collapse list-unstyled" id="element">
                                <li><a asp-action="Index" asp-controller="Category">> <span>Categories</span></a></li>
                                <li><a asp-action="Index" asp-controller="Restaurant">> <span>Restaurants</span></a></li>
                                <li><a asp-action="Index" asp-controller="FoodCategory">> <span>Food categories</span></a></li>
                                <li><a asp-action="Index" asp-controller="Meal">> <span>Meals</span></a></li>
                                <li><a asp-action="Index" asp-controller="Employment">> <span>Employments</span></a></li>
                                <li><a asp-action="Index" asp-controller="Courier">> <span>Couriers</span></a></li>
                                <li><a asp-action="Index" asp-controller="Service">> <span>Services</span></a></li>
                                <li><a asp-action="Index" asp-controller="Setting">> <span>Settings</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
                <!-- topbar -->
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                            
                        </div>
                    </nav>
                </div>
                <!-- end topbar -->
        @RenderBody()
                <!-- end dashboard inner -->
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/admin/js/jquery.min.js"></script>
    <script src="~/admin/js/popper.min.js"></script>
    <script src="~/admin/js/bootstrap.min.js"></script>
    <!-- wow animation -->
    <script src="~/admin/js/animate.js"></script>
    <!-- select country -->
    <script src="~/admin/js/bootstrap-select.js"></script>
    <!-- owl carousel -->
    <script src="~/admin/js/owl.carousel.js"></script>
    <!-- chart js -->
    <script src="~/admin/js/Chart.min.js"></script>
    <script src="~/admin/js/Chart.bundle.min.js"></script>
    <script src="~/admin/js/utils.js"></script>
    <script src="~/admin/js/analyser.js"></script>
    <!-- nice scrollbar -->
    <script src="~/admin/js/perfect-scrollbar.min.js"></script>
    <script src="~/admin/js/perfect-scrollbar.min.js">
        
    </script>
    <!-- custom js -->
    <script src="~/admin/js/custom.js"></script>
    <script src="~/admin/js/chart_custom_style1.js"></script>
</body>
</html>