@model AboutUsVm
@{
    int count = 1;
}
 <!-- SubHeader =============================================== -->
<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="/assets/img/sub_header_cart.jpg" data-natural-width="1400" data-natural-height="350">
    <div id="subheader">
        <div id="sub_content">
            <h1>About us</h1>
            <p>Qui debitis meliore ex, tollit debitis conclusionemque te eos.</p>
            <p></p>
        </div><!-- End sub_content -->
    </div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
    <div class="row justify-content-between">
        <div class="col-xl-5 col-lg-5">
            <h3 class="nomargin_top">Some words about us</h3>
            <p>
                Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit ex sea. Duo legere evertitur an, pri hinc <strong>doctus definitiones</strong> an, vix id dicam putent. Ius ornatus instructior in.
            </p>
            <p>
                Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit ex sea. Duo legere evertitur an, pri hinc doctus definitiones an, vix id dicam putent. Ius ornatus instructior in.
            </p>
            <h4>Mission</h4>
            <p>
                Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. <strong>Libris hendrerit</strong> ex sea. Duo legere evertitur an, pri hinc doctus definitiones an, vix id dicam putent. Ius ornatus instructior in.
            </p>
            <p>
                Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit ex sea. Duo legere evertitur an, pri hinc doctus definitiones an, vix id dicam putent. Ius ornatus instructior in.
            </p>
            <h4>Filosofy</h4>
            <p>
                Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. <strong>Libris hendrerit</strong> ex sea. Duo legere evertitur an, pri hinc doctus definitiones an, vix id dicam putent. Ius ornatus instructior in.
            </p>
        </div>
        <div class="col-xl-7 col-lg-7 text-right d-none d-lg-block">
            <img src="~/assets/img/devices.jpg" alt="" class="img-fluid">
        </div>
    </div><!-- End row -->
    @if (count > 1)
    {
    <hr class="more_margin">

    <div class="main_title">
        <h2 class="nomargin_top">Quick food quality feautures</h2>
        <p>
            Cum doctus civibus efficiantur in imperdiet deterruisset.
        </p>
    </div>
    <div class="row">
        @foreach (var item in Model.Services)
        {
            count++;
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.@(count)s">
                <div class="feature">
                    <i class="@item.Icon"></i>
                    <h3>@item.Tittle</h3>
                    <p>
                       @item.Subtittle
                    </p>
                </div>
            </div>
        }
        
    </div><!-- End row -->
<!-- End Content =============================================== -->
        
    }
</div><!-- End container -->
