@model RestaurantUpdateVm

<div class="col-xl-6">
    <div class="card custom-card">
        <div class="card-header justify-content-between">
            <div class="card-title">
                Input border Styles
            </div>
            <div class="prism-toggle">
                <a asp-action="Index" asp-controller="Category" class="btn btn-sm btn-danger">Cancel</a>
            </div>
        </div>
        <div class="card-body d-flex">
            <div class="row gy-3 ">
                <form class="row gy-3 " method="post" enctype="multipart/form-data">
                    <div class="col-xl-12">
                        <img style="width:75px; height:75px" src="~/assets/img/restaurantImages/@Model.Image" alt="">
                        <input asp-for="Image" type="hidden"/>
                    </div>
                    <div class="col-xl-12">
                        <label asp-for="Photo" class="form-label">Photo</label>
                        <input asp-for="Photo" class="form-control" placeholder="Photo">
                        <span asp-validation-for="Photo"></span>
                    </div>
                    <div class="col-xl-12">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                        <span asp-validation-for="Name"></span>
                    </div>
                    <div class="col-xl-12">
                        <label asp-for="Address" class="form-label">Address</label>
                        <input asp-for="Address" type="text" class="form-control" placeholder="Address">
                        <span asp-validation-for="Address"></span>
                    </div>
                    <div class="col-xl-12">
                        <label asp-for="RestourantEmail" class="form-label">RestourantEmail</label>
                        <input asp-for="RestourantEmail" type="text" class="form-control" placeholder="RestourantEmail">
                        <span asp-validation-for="RestourantEmail"></span>
                    </div>
                    <div class="col-xl-12">
                        <label asp-for="LocationCordinate" class="form-label">LocationCordinate</label>
                        <input asp-for="LocationCordinate" class="form-control" placeholder="LocationCordinate">
                        <span asp-validation-for="LocationCordinate"></span>
                    </div>
                    <div class="col-xl-12">
                        <label asp-for="Phone" class="form-label">Phone</label>
                        <input asp-for="Phone" class="form-control" placeholder="Phone">
                        <span asp-validation-for="Phone"></span>
                    </div>
                    <div class="col-xl-12">
                        <label asp-for="OpeningTime" class="form-label">OpeningTime</label>
                        <input asp-for="OpeningTime" class="form-control" placeholder="OpeningTime">
                        <span asp-validation-for="OpeningTime"></span>
                    </div>
                    <div class="col-xl-12">
                        <label asp-for="ClozedTime" class="form-label">ClozedTime</label>
                        <input asp-for="ClozedTime" class="form-control" placeholder="ClozedTime">
                        <span asp-validation-for="ClozedTime"></span>
                    </div>
                    <div class="col-xl-12">
                        <label asp-for="IsOpening" class="form-label">IsOpening</label>
                        <input asp-for="IsOpening" class="form-control" placeholder="IsOpening">
                        <span asp-validation-for="IsOpening"></span>
                    </div>
                    <div class="col-xl-12">
                        <label asp-for="MinimumOrderAmount" class="form-label">MinimumOrderAmount</label>
                        <input asp-for="MinimumOrderAmount" class="form-control" placeholder="MinimumOrderAmount">
                        <span asp-validation-for="MinimumOrderAmount"></span>
                    </div>
                    <div class="col-xl-12">
                        <label asp-for="CategoryId">category</label>
                        <select asp-for="CategoryId" class="form-control" placeholder="Category" asp-items="new SelectList(Model.Categories,nameof(Category.Id),nameof(Category.Name))">
                            <option selected disabled>Choose Category</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>

                    <div class="col-xl-12">

                        <button type="submit" class="btn btn-warning">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>