@model CourierCreateVm

<head>
    <link href="~/assets/css/skins/square/grey.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="~/assets/css/custom.css" rel="stylesheet">
</head>


<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="img/sub_header_cart.jpg" data-natural-width="1400" data-natural-height="350">
    <div id="subheader">
        <div id="sub_content">
            <h1>Work with us</h1>
            <p>Qui debitis meliore ex, tollit debitis conclusionemque te eos.</p>
            <p></p>
        </div><!-- End sub_content -->
    </div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

<div id="position">
    <div class="container">
        <ul>
            <li><a href="#0">Home</a></li>
            <li><a href="#0">Category</a></li>
            <li>Page active</li>
        </ul>
        <a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Search</a>
    </div>
</div><!-- Position -->
<!-- Content ================================================== -->
<div class="container margin_60_35">
    <div class="main_title margin_mobile">
        <h2 class="nomargin_top">Flexible Job and Great fees</h2>
        <p>
            Cum doctus civibus efficiantur in imperdiet deterruisset.
        </p>
    </div>
    <div class="row">
        <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
            <div class="feature_2">
                <i class="icon_currency"></i>
                <h3>Great Fees</h3>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                </p>
            </div>
        </div>
        <div class="col-md-6 wow fadeIn" data-wow-delay="0.2s">
            <div class="feature_2">
                <i class="icon_easel"></i>
                <h3>Growing possibility</h3>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                </p>
            </div>
        </div>
    </div><!-- End row -->
    <div class="row">
        <div class="col-md-6 wow fadeIn" data-wow-delay="0.3s">
            <div class="feature_2">
                <i class="icon_mobile"></i>
                <h3>Manage your own orders via App</h3>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                </p>
            </div>
        </div>
        <div class="col-md-6 wow fadeIn" data-wow-delay="0.4s">
            <div class="feature_2">
                <i class="icon_map_alt"></i>
                <h3>Work in a small area</h3>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                </p>
            </div>
        </div>
    </div><!-- End row -->
    <div class="row">
        <div class="col-md-6 wow fadeIn" data-wow-delay="0.5s">
            <div class="feature_2">
                <i class="icon_clock_alt"></i>
                <h3>Flexible time</h3>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                </p>
            </div>
        </div>
        <div class="col-md-6 wow fadeIn" data-wow-delay="0.6s">
            <div class="feature_2">
                <i class="icon_calendar"></i>
                <h3>Flexible days</h3>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                </p>
            </div>
        </div>
    </div><!-- End row -->
</div><!-- End container -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 nopadding features-intro-img">
            <div class="features-bg img_2">
                <div class="features-img">
                </div>
            </div>
        </div>
        <div class="col-lg-6 nopadding">
            <div class="features-content">
                <h3>"What you'll need"</h3>
                <ul class="list_ok">
                    <li>A bicycle or scooter/motorbike with relevant safety equipment (road safety is a huge must for us!).</li>
                    <li>Smartphone - iPhone 4s or above or Android 4.3 or above.</li>
                    <li>The right to work in the USA.</li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- End container-fluid  -->
<div class="container margin_60">
    <div class="main_title margin_mobile">
        <h2 class="nomargin_top">Please submit the form below</h2>
        <p>
            Cum doctus civibus efficiantur in imperdiet deterruisset.
        </p>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label asp-for="Name">Name</label>
                            <input asp-for="Name" class="form-control" placeholder="Jhon">
                            <span asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <label asp-for="Surname">Surname</label>
                        <input asp-for="Surname" class="form-control" placeholder="Surname">
                        <span asp-validation-for="Surname"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label asp-for="Photo">Photo</label>
                            <input asp-for="Photo" class="form-control" placeholder="Photo">
                            <span asp-validation-for="Photo"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <label asp-for="PhoneNumber">PhoneNumber</label>
                        <input asp-for="PhoneNumber" class="form-control" placeholder="PhoneNumber">
                        <span asp-validation-for="PhoneNumber"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" class="form-control" placeholder="Email">
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>
                </div>
                <hr style="border-color:#ddd;">
                <div class="text-center"><button class="btn_full_outline">Submit</button></div>
            </form>
        </div><!-- End col  -->
    </div><!-- End row  -->
</div><!-- End container  -->
<!-- End Content =============================================== -->
