@model CourierItemVm
<div class="card" style="width: 27rem;">
    <img src="~/assets/img/courierImages/@Model.Image" class="card-img-top" alt="~/assets/img/mealImages/@Model.Image">
    <div class="card-body">
        <h4>FullName:@Model.Name @Model.Surname</h4>
        <h4>Email Address: @Model.Email</h4>
        <h4>Phone: @Model.PhoneNumber</h4>
        <h4>Fee: @Model.Fee</h4>
    </div>
</div>