@using QuickFoodDelivery.Domain.Entities;
@model RestaurantAdminVm


<head>
    <!-- SPECIFIC CSS -->
    <link href="~/assets/css/skins/square/grey.css" rel="stylesheet">
    <link href="~/assets/css/admin.css" rel="stylesheet">
    <link href="~/assets/js/editor/summernote-bs4.css" rel="stylesheet">
    <link href="~/assets/css/dropzone.css" rel="stylesheet">
</head>



<!-- SubHeader =============================================== -->
<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="assets/img/sub_header_cart.jpg" data-natural-width="1400" data-natural-height="350">
    <div id="subheader">
        <div id="sub_content">
            <h1>Admin section</h1>
            <p>Qui debitis meliore ex, tollit debitis conclusionemque te eos.</p>
            <p></p>
        </div><!-- End sub_content -->
    </div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

<div id="position">
    <div class="container">
        <ul>
            <li>
                <a href="#0">Home</a>
            </li>
            <li>
                <a href="#0">Category</a>
            </li>
            <li>Page active</li>
        </ul>
        <a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Search</a>
    </div>
</div><!-- Position -->
<!-- Content ================================================== -->
<div class="container margin_60">
    <div id="tabs" class="tabs">
        <nav>
            <ul>
                <li>
                    <a href="#section-1" class="icon-profile"><span>Main info</span></a>
                </li>
                <li>
                    <a asp-action="CreateMeal" asp-controller="restaurantAdmin" class="icon-menut-items">Menu</a>
                </li>
                <li>
                    <a asp-action="UpdateYourRestaurant" asp-controller="restaurantAdmin" asp-route-id="@Model.RestaurantItem.Id" class="icon-menut-items">Menu</a>
                </li>
                <li>
                    <a href="#section-3" class="icon-settings"><span>Settings</span></a>
                </li>
            </ul>
        </nav>
    </div>
</div><!-- End container  -->
