@model RestaurantUpdateVm
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"></script>
</head>
<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="/assets/img/restaurantImages/@Model.Image" data-natural-width="1400" data-natural-height="350">
    <div id="subheader">
        <div id="sub_content">
            <h1>Work with us</h1>
            <p>Qui debitis meliore ex, tollit debitis conclusionemque te eos.</p>
            <p></p>
        </div><!-- End sub_content -->
    </div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

<div id="position">
    <div class="container">
        <ul>
            <li><a href="#0">Home</a></li>
            <li><a href="#0">Category</a></li>
            <li>Page active</li>
        </ul>
        <a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Search</a>
    </div>
</div><!-- Position -->
<!-- Content ================================================== -->
<div class="container margin_60_35">
    <div class="prism-toggle">
        <a asp-action="Index" asp-controller="RestaurantAdmin" class="btn btn-sm btn-danger">Cancel</a>
    </div>

</div><!-- End container -->

<div class="container margin_60">
    <div class="main_title margin_mobile">
        <h2 class="nomargin_top">Please submit the form below</h2>
        <p>
            Cum doctus civibus efficiantur in imperdiet deterruisset.
        </p>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="post" enctype="multipart/form-data">

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <img style="width:75px; height:75px" src="~/assets/img/restaurantImages/@Model.Image" alt="">
                            <input asp-for="Image" type="hidden" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label asp-for="Photo">Photo</label>
                            <input asp-for="Photo" class="form-control" placeholder="Photo">
                            <span asp-validation-for="Photo"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label asp-for="Name">Restaurant Name</label>
                            <input asp-for="Name" class="form-control" placeholder="Restaurant Name">
                            <span asp-validation-for="Photo"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label asp-for="Address">Address</label>
                            <input asp-for="Address" class="form-control" placeholder="Address">
                            <span asp-validation-for="Address"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label asp-for="RestourantEmail">Restourant Email</label>
                            <input asp-for="RestourantEmail" class="form-control" placeholder="RestourantEmail">
                            <span asp-validation-for="RestourantEmail"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label asp-for="LocationCordinate">LocationCordinate</label>
                            <input asp-for="LocationCordinate" class="form-control" placeholder="LocationCordinate">
                            <span asp-validation-for="LocationCordinate"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label asp-for="Phone">Phone</label>
                            <input asp-for="Phone" class="form-control" placeholder="Phone">
                            <span asp-validation-for="Phone"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label asp-for="OpeningTime">Opening Time:</label>
                            <input asp-for="OpeningTime" type="time" id="OpeningTime" name="OpeningTime" required />
                            <span asp-validation-for="OpeningTime"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label asp-for="ClozedTime">Clozed Time:</label>
                            <input asp-for="ClozedTime" type="time" id="ClozedTime" name="ClozedTime" required />
                            <span asp-validation-for="ClozedTime"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label asp-for="IsOpening">IsOpening</label>
                            <input asp-for="IsOpening">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label asp-for="MinimumOrderAmount">MinimumOrderAmount</label>
                            <input asp-for="MinimumOrderAmount" class="form-control" placeholder="MinimumOrderAmount">
                            <span asp-validation-for="MinimumOrderAmount"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <label asp-for="CategoryId">Category</label>
                        <select asp-for="CategoryId" class="form-control" placeholder="Category" asp-items="new SelectList(Model.Categories, nameof(Category.Id), nameof(Category.Name))">
                            <option selected disabled>Chosee Category</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                </div>
                <hr style="border-color:#ddd;">
                <div class="text-center"><button type="submit" class="btn_full_outline">Submit</button></div>
            </form>
        </div><!-- End col  -->
    </div><!-- End row  -->
</div><!-- End container  -->
<script>
    $(document).ready(function () {
        $('#OpeningTime, #ClosingTime').timepicker({
            timeFormat: 'HH:mm',
            interval: 15,
            dropdown: true,
            scrollbar: true
        });
    });
</script>