@model ResetPasswordvm


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>RegistrationForm_v3 by Colorlib</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- MATERIAL DESIGN ICONIC FONT -->
	<link rel="stylesheet" href="~/identity/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

	<!-- STYLE CSS -->
	<link rel="stylesheet" href="~/identity/css/style.css">
</head>

<body>

	<div class="wrapper" style="background-image: url('/identity/images/bg-registration-form-3.jpg');">

		<div class="inner">
			<form action="" method="post">
				<div asp-validation-summary="ModelOnly"></div>
				<h3>Registration Form</h3>
				<div class="form-group">
					<div class="form-wrapper">
						<label asp-for="NewPassword">NewPassword:</label>
						<div class="form-holder">
							<input asp-for="NewPassword" class="form-control" placeholder="NewPassword">
							<span asp-validation-for="NewPassword"></span>
						</div>
					</div>
					<div class="form-wrapper">
						<label asp-for="ConfirmPassword">ConfirmPassword:</label>
						<div class="form-holder">
							<input asp-for="ConfirmPassword" class="form-control" placeholder="ConfirmPassword">
							<span asp-validation-for="ConfirmPassword"></span>
						</div>
					</div>
				</div>
				<div class="form-end">
					<div class="button-holder">
						<button>Login Now</button>
					</div>

				</div>
			</form>
		</div>
	</div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>