@model ICollection<CategoryItemVm>
@{
    int count = 1;
}


<div class="col-xl-6">
    <div class="card custom-card">
        <div class="card-header justify-content-between">
            <div class="card-title">
                Categories
            </div>
            <div class="prism-toggle">
                <a asp-action="Create" asp-controller="Category" class="btn btn-sm btn-primary-light">Create</a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table text-nowrap">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">Count</th>
                            <th scope="col">Name</th>
                            <th scope="col">Update</th>
                            <th scope="col">Soft Delete</th>
                            <th><a asp-action="IndexSoftDeletes" asp-controller="Category" class="btn btn-success"><i class="fa fa-address-book"></i></a></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(count++)</td>
                                <td scope="row">@item.Name</td>
                                <td><a asp-action="Update" asp-controller="Category" asp-route-id="@item.Id" class="btn btn-warning"><i class="ri-edit-line"></i></a></td>
                                <td><a asp-action="SoftDelete" asp-controller="Category" asp-route-id="@item.Id" class="btn btn-danger"><i class="ti ti-backspace"></i></a></td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>