@model AppUser
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="CodeHim">
    <title> Dashboard Profile Page Theme Color CSS Vanilla JS Example </title>
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/myprofile/css/style.css">
    <!-- Demo CSS (No need to include it into your project) -->
    <link rel="stylesheet" href="~/myprofile/css/demo.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">
    <style>
        .profile-page .content__avatar {
            width: 12rem;
            height: 12rem;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: 2;
            transform: translate(-50%, 50%);
            border-radius: 50%;
            box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
        }

            .profile-page .content__avatar img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }

        .profile-page .content__cover {
            position: relative;
            background: linear-gradient(150deg, #1d8cf8 20%, #3358f4 100%);
        }

        .theme-orange .profile-page .content__cover {
            background: linear-gradient(150deg, #ff4086 20%, #fd8d76 100%);
        }

        .theme-purple .profile-page .content__cover {
            background: linear-gradient(150deg, #8700ff 20%, #f000ff 100%);
        }

        .theme-green .profile-page .content__cover {
            background: linear-gradient(150deg, #1dcc45 20%, #42b883 100%);
        }

        .theme-blue .profile-page .content__cover {
            background: linear-gradient(150deg, #0098f0 20%, #00f2c3 100%);
        }
    </style>
</head>
<body>
    <header class="cd__intro">
        
        
    </header>
    <!--$%adsense%$-->
    <main class="cd__main">
        <!-- Start DEMO HTML (Use the following code into your project)-->
        <div class="profile-page">
            <div class="content">
                <div class="content__cover">
                    <div class="content__avatar">
                        <img src="~/assets/img/@Model.ProfileImage" alt="Profile Picture">
                    </div>
                    <div class="content__bull">
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                </div>
                <div class="content__actions">
                    <a asp-action="Index" asp-controller="Home">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <!-- Bu kısmı değiştirdik -->
                            <path fill="currentColor" d="M288 464v-96h64v96h96V272h48L288 112 96 272h48v192z"></path>
                        </svg>
                        <span>Home</span> <!-- Ayrıca metni de değiştirdik -->
                    </a>
                    <a asp-action="Edit" asp-controller="Profile" style="display: inline-flex; align-items: center;">
                        <i class="feather feather-edit" style="vertical-align: -1px;"></i>
                        <span><b>Edit</b></span>
                    </a>
                </div>
                <div class="content__title">
                    <h1>@Model.Name @Model.Surname</h1>
                </div>
                <div class="content__description">
                    @*<p>Web Producer - Web Specialist</p>
                    <p>Columbia University - New York</p>*@
                </div>
                <ul class="content__list">
                    @*<li><span>@Model.Orders.Where(x=>x.Status==OrderStatus.Delivered).Count()</span>Delivered Products</li>
                    <li><span>43</span>Photos</li>
                    <li><span>21</span>Comments</li>*@
                </ul>
                <div class="content__button">
                    @if (User.IsInRole(UserRole.RestaurantAdmin.ToString()))
                    {
                        <a class="button" asp-action="Index" asp-controller="RestaurantAdmin">
                            <div class="button__border"></div>
                            <div class="button__bg"></div>
                            <p class="button__text">Your Restaurant</p>
                        </a>
                    }
                    else if (User.IsInRole(UserRole.Member.ToString()))
                    {
                        <a class="button" asp-action="MyOrders" asp-controller="Profile">
                            <div class="button__border"></div>
                            <div class="button__bg"></div>
                            <p class="button__text">Your Orders</p>
                        </a>
                    }
                    else if (User.IsInRole(UserRole.Courier.ToString()))
                    {
                        <a class="button" asp-action="Index" asp-controller="Courier">
                            <div class="button__border"></div>
                            <div class="button__bg"></div>
                            <p class="button__text">Delivery Orders</p>
                        </a>
                    }
                </div>
            </div>
            <div class="bg">
                <div>
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <div class="theme-switcher-wrapper" id="theme-switcher-wrapper">
                <span>Themes color</span>
                <ul>
                    <li><em class="is-active" data-theme="orange"></em></li>
                    <li><em data-theme="green"></em></li>
                    <li><em data-theme="purple"></em></li>
                    <li><em data-theme="blue"></em></li>
                </ul>
            </div>
            <div class="theme-switcher-button" id="theme-switcher-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                    <path fill="currentColor" d="M352 0H32C14.33 0 0 14.33 0 32v224h384V32c0-17.67-14.33-32-32-32zM0 320c0 35.35 28.66 64 64 64h64v64c0 35.35 28.66 64 64 64s64-28.65 64-64v-64h64c35.34 0 64-28.65 64-64v-32H0v32zm192 104c13.25 0 24 10.74 24 24 0 13.25-10.75 24-24 24s-24-10.75-24-24c0-13.26 10.75-24 24-24z"></path>
                </svg>
            </div>
        </div>
        <!-- END EDMO HTML (Happy Coding!)-->
    </main>
    <footer class="cd__credit"><a title="Free web design code & scripts" href="https://www.codehim.com?source=demo-page" target="_blank"></a></footer>

    <!-- Script JS -->
    <script src="~/myprofile/js/script.js"></script>
    <!--$%analytics%$-->
</body>
</html>